    <!--
      Author: Heesoo Lim
      Date: August 03, 2020
      Website Name: footer
      File Name: footer.html
      File Description: This is a footer part of pages
   -->

<nav class="navbar bottom navbar-light">
    <h6>&copy; CopyRight 2020. All Rights Reserved. ( References of Pictures  
        <a href="https://unsplash.com/photos/VAJEea9u6k8">1</a> 
        <a href="https://unsplash.com/photos/Wc8k-KryEPM">2</a> 
        <a href="https://unsplash.com/photos/GjFbKfI874o">3</a>)
    </h6>
</nav>
